@import 'base';
@import 'kinja_fonts';
@import 'font_smoothing';

$black: #222;
$dark-gradient: linear-gradient(left, rgb(240, 57, 57), rgb(23, 23, 213));
$light-gradient: linear-gradient(left, rgb(240, 240, 252), rgb(255, 243, 244));

// ProximaNovaCond

html {
  overflow: hidden;
}

body {
  font-family: ElizabethSerif;
  margin: 0;
  max-width: 636px;
  padding: 0;
}

.header {
  border-bottom: 1px solid $black;
  color: #999;
  font-family: ProximaNovaCond;
  font-size: 12px;
  letter-spacing: 1.2px;
  line-height: 20px;
  margin-bottom: 7px;
  margin-top: 5px;
  padding-top: 3px;
  text-transform: uppercase;
}

.title {
  color: #000222;
  font-family: ProximaNovaCond;
  font-size: 30px;
  line-height: 39px;
}

.description {
  color: #222;
  font-family: ElizabethSerif;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 12px;
}

.sectionhead {
  background: $black;
  color: #fff;
  font-family: ProximaNovaCond;
  font-size: 24px;
  height: 45px;
  margin-top: 18px;
  padding: 10px 18px 0;
}

.candidates,
.issues {
  background: $light-gradient;
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.candidate {
  flex: 0 1 112px;

  .name-and-party {
    color: #222;
    font-family: ProximaNovaCond;
    font-size: 18px;
    font-weight: bold;
    // letter-spacing: 1.35px;
    line-height: 20px;
    text-align: center;
  }
}

.issues {
  color: $black;
  display: flex;
  flex-wrap: wrap;
  font-family: ProximaNovaCond;
  font-size: 24px;
  justify-content: space-between;
  line-height: 28px;
  padding: 18px;
}

.issue {
  cursor: pointer;
  flex: 0 1 290px;
  margin-bottom: 18px;

  .identifier {
    border: 3px solid #fff;
    display: inline-block;
    height: 18px;
    margin-right: 21px;
    width: 18px;

    &.selected {
      background: $dark-gradient;
      border: 0;
    }
  }

}
