@import 'base';
@import 'kinja_fonts';
@import 'font_smoothing';

$black: #222;
$dark-gradient: linear-gradient(to left, rgb(240, 57, 57), rgb(23, 23, 213));
$light-gradient: linear-gradient(to left, rgb(240, 240, 252), rgb(255, 243, 244));

// ProximaNovaCond

html {
  overflow: hidden;
}

body {
  color: $black;
  font-family: ElizabethSerif;
  margin: 0;
  max-width: 636px;
  padding: 0;
}

.header {
  border-bottom: 1px solid $black;
  font-family: ProximaNovaCond;
  font-size: 12px;
  letter-spacing: 1.2px;
  line-height: 20px;
  margin-bottom: 7px;
  margin-top: 5px;
  padding-top: 3px;
  text-transform: uppercase;
}

.title {
  color: #000222;
  font-family: ProximaNovaCond;
  font-size: 28px;
  line-height: 39px;
  margin-bottom: 0;
  margin-top: 10px;
}

.description {
  color: #222;
  font-family: ElizabethSerif;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.sectionhead {
  background: $black;
  color: #fff;
  font-family: ProximaNovaCond;
  font-size: 24px;
  height: 45px;
  margin-top: 5px;
  padding: 10px 18px 0;
}

.candidates,
.issues {
  background: $light-gradient;
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.candidate {
  color: #222;
  cursor: pointer;
  flex: 0 1 112px;

  .name-and-party {
    font-family: ProximaNovaCond;
    font-size: 18px;
    font-weight: bold;
    // letter-spacing: 1.35px;
    line-height: 20px;
    text-align: center;
  }
}

.issues {
  color: $black;
  display: flex;
  flex-wrap: wrap;
  font-family: ProximaNovaCond;
  font-size: 24px;
  justify-content: space-between;
  line-height: 23px;
  padding: 20px 18px 8px;
}

.issue {
  cursor: pointer;
  flex: 0 1 290px;
  margin-bottom: 13px;

  .identifier {
    border: 3px solid #fff;
    display: inline-block;
    height: 18px;
    margin-right: 21px;
    width: 18px;

    &.selected {
      background: $dark-gradient;
      border: 0;
    }

  }

  &.hover {
    .text {
      opacity: .5;
    }
  }

}

.backcontainer {
  position: relative;
}

.back {
  color: #999;
  cursor: pointer;
  font-family: ProximaNovaCond;
  font-size: 16px;
  position: absolute;
}

.description + .backcontainer > .back {
  margin-top: -21px;
  top: -7px;
}

.motion-container {
  max-width: 636px;
  position: relative;
}

.issues-for-candidates {
  background: $light-gradient;
  color: $black;
  margin-bottom: 14px;
  margin-top: 0;
  padding: 0 18px 20px;

  .issue-name {
    font-family: ProximaNovaCond;
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 2px;
    margin-top: 0;
    padding-top: 18px;
  }

  .issue-description {
    font-family: ElizabethSerif;
    font-size: 16px;
    line-height: 29px;
    margin: 0;
  }

}

.more {
  color: #1717d5;
  font-family: ProximaNovaCond;
  font-size: 16px;
  text-decoration: none;
}

.candidates-by-issue {
  color: $black;
  margin-bottom: 10px;

  .candidate-item {
    background: $light-gradient;
    display: flex;
    margin-top: 5px;
    padding: 18px;

    img {
      flex: 0 0 85px;
      height: 85px;
      margin-right: 18px;
      width: 85px;
    }

    .name {
      font-family: ProximaNovaCond;
      font-size: 18px;
      font-weight: bold;
      line-height: 20px;
      margin-right: 18px;
      width: 85px;
    }

    .candidate-take {
      font-family: ElizabethSerif;
      font-size: 16px;
      line-height: 29px;
      margin-top: -5px;
    }
  }
}

.dem {
  color: #1717d5;
}

.rep {
  color: rgb(240, 57, 57);
}

.low-z {
  z-index: 0;
}

.high-z {
  z-index: 100;
}

@import 'mobile';
